# Módulo 2 Ejercicio 4

**1. Continuaremos trabajando con nuestros datos de supermercado.  Para esto cargaremos los 4 archivos (clientes, boletas, detalle y productos) y responderemos a las siguientes preguntas:** s:

*a. Generar un DataFrame con cada archivo*

In [2]:
# Importamos librería Pandas
import pandas as pd

# Cargamos la información en una variable y luego las transformamos a DataFrame
clientes = pd.read_csv('clientes.csv', encoding='latin1')
boletas = pd.read_csv('boletas.csv', encoding='latin1')
detalle = pd.read_csv('detalle.csv', encoding='latin1')
productos = pd.read_csv('productos.csv', encoding='latin1')

df_clientes = pd.DataFrame(clientes)
df_boletas = pd.DataFrame(boletas)

,rut,nombre,direccion,comuna,fecha_nacimiento,telefono,email
0,11223344-4,Tomás Ramírez,NaN,Arica,1994-12-31,NaN,tomas@example.com
1,11223344-5,Laura Rojas,Calle Virtual 567,Antofagasta,1998-07-12,945678321.0,laura@example.com
2,12345678-9,Juan Perez,Calle Falsa 123,Santiago,2000-05-15,912345678.0,juan@example.com
3,23456789-1,Pedro Rodríguez,NaN,Valparaíso,1988-03-10,912345678.0,pedro@example.com
4,33445566-5,Camila Torres,Calle Cibernética 456,NaN,1993-02-14,977894512.0,camila@example.com
5,33445566-7,Mateo Diaz,NaN,Viña del Mar,2002-02-28,967894512.0,mateo@example.com
6,34567890-2,Carla González,Calle Inventada 789,NaN,1999-12-05,934567890.0,carla@example.com
7,45678901-3,Diego Martínez,Avenida Irreal 987,La Serena,NaN,NaN,diego@example.com
8,55667788-6,Matias Castro,Avenida Innovación 321,NaN,1992-06-08,923478965.0,NaN
9,55667788-9,Valentina Herrera,Avenida Tecnológica 123,NaN,1997-04-05,923478965.0,valentina@example.com
10,56789012-4,Ana Lopez,NaN,NaN,1990-08-18,978901234.0,ana@example.com
11,67890123-5,Luisa Fernández,Calle Ficticia 321,Rancagua,2005-04-25,NaN,luisa@example.com
12,77889900-1,Martin Gómez,NaN,Iquique,1996-10-17,955678902.0,martin@example.com
13,77889900-7,Renata Flores,NaN,Copiapó,NaN,NaN,renata@example.com
14,78901234-6,Javier Torres,Avenida de Ensueño 654,Temuco,1985-11-30,923456789.0,NaN
15,87654321-0,Maria Sánchez,Avenida Imaginaria 456,Concepción,1995-10-20,987654321.0,maria@example.com
16,89012345-7,Marta Ramírez,Calle Soñada 210,NaN,NaN,NaN,NaN
17,90123456-8,Daniel Silva,NaN,Puerto Montt,NaN,NaN,NaN
18,99001122-3,Sofía Pérez,Calle Digital 789,NaN,2001-09-22,912345672.0,sofia@example.com
19,99001122-8,Nicolás Ruiz,Calle Programación 210,NaN,2003-11-03,955678902.0,nicolas@example.com